{% extends "base.html" %}
{% block title %}Poll {{ poll.title }}{% endblock %}
{% block breadcrumb %}<li><a href="/polls/">Polls</a></li> <li><a href="/polls/archive/{{ poll.pub_date|date:"Y"|lower }}/">{{ poll.pub_date|date:"Y"|lower }}</a></li> <li><a href="/polls/archive/{{ poll.pub_date|date:"Y"|lower }}/{{ poll.pub_date|date:"M"|lower }}">{{ poll.pub_date|date:"F" }}</a></li> <li class="last">{{ poll.title }}</li>{% endblock %}
{% block content %}
{{ poll.title }}
{% if already_voted %}
{{ choices|length }}
{% for choice in choices %}
    <li>{{ choice.choice }} # of votes {{ choice.vote_count }}</li>
{% endfor %}
{% else %}
<form action="." method="post">
    <ul>
        {{ vote_form.as_ul }}
    </ul>
    <input type="submit" value="Vote" />
</form>
{% endif %}
{% endblock %}
